%h4.pull-right June 2018
.page-header
  %h1
    Essentials of Front-End Development


.row
  .col-xs-12
    %p.lead
      %strong
        This workshop is quick-paced, beginner-focused introduction to
        modern front-end web development.
        If you have at least two years of programming experience
        in any language, this is the best way to get started.

        This workshop includes everything you need to know to get a solid foundation in the core
        concepts.

.row
  .col-sm-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Day 1: The Essentials
      .panel-body
        %ul
          %li
            Semantic Content with HTML 5
            %ul
              %li The DOM
              %li Elements, Attributes, and Content
              %li Block vs Inline Elements
              %li Semantic Markup

          %li Using DevTools in Chrome/Firefox/Safari
          %li
            Visual Design with CSS 3
            %ul
              %li The Box Model
              %li The Flex-Box Model
              %li Typography
              %li CSS Classes
              %li Effects and Animation
          %li Multi-column Layouts
          %li Mobile Websites
          %li Media Queries
          %li Using the Bootstrap Framework
          %li
            Publishing
            %ul
              %li GitHub Pages
              %li Heroku
              %li Jekyll
          %li Web Fonts
          %li Visitor Tracking
          %li Signup Forms
          %li Graphics, Charts, and Graphs


  .col-sm-6
    .panel.panel-primary
      .panel-heading
        -# %h2.panel-title Sign Up!
        %h2.panel-title Day 2: JavaScript
      #signup.panel-body
        %ul
          %li
            Classic JavaScript
            %ul
              %li Understanding Scope
              %li Functions
              %li DOM Event Listeners
          %li
            jQuery
            %ul
              %li DOM Manipulation
              %li Event Handling
              %li Event Bubbling and Propogation
              %li Integrating with JSON APIs
          %li
            ES2015 (ES6) and ES7
            %ul
              %li Classes vs Objects
              %li Callbacks
              %li Arrow Functions
              %li Understanding Babel
              %li
                Understanding
                %code this
.row
  .col-xs-12
    %p.lead
      %strong
      This workshop uses my proven
      %em  Learn How To Learn™
      workshop environment.
      You'll not only gain practical skills, you will be ready, confident, and inspired to continue learning
      after the workshop ends.
