.row.mb-5
  .col-sm-12
    %h1.mb-3
      Essentials of Front-End Development

      %span.ml-3.align-top.badge-primary.badge June 2018
      %span.ml-3.align-top.badge-primary.badge $900

    %hr
    %p.lead
      %strong
        This workshop is quick-paced, beginner-focused introduction to
        modern front-end web development.
        If you have at least two years of programming experience
        in any language, this is the best way to get started.

        This workshop includes everything you need to know to get a solid foundation in the core
        concepts.

.row
  .col-sm-6
    .card.text-dark.bg-default
      .card-header
        %h4.card-title Day 1: The Essentials
      .card-body
        %ul
          %li
            Semantic Content with HTML 5
            %ul
              %li The DOM
              %li Elements, Attributes, and Content
              %li Block vs Inline Elements
              %li Semantic Markup
          %li Using DevTools in Chrome/Firefox/Safari
          %li
            Visual Design with CSS 3
            %ul
              %li The Box Model
              %li The Flex-Box Model
              %li Typography
              %li CSS Classes
              %li Effects and Animation
          %li Multi-column Layouts
          %li Mobile Websites
          %li Media Queries
          %li Using the Bootstrap Framework
          %li
            Publishing
            %ul
              %li GitHub Pages
              %li Heroku
              %li Jekyll
          %li Web Fonts
          %li Visitor Tracking
          %li Signup Forms




  .col-sm-5
    .card.text-dark.bg-default
      .card-header
        %h4.text-center Day 2: User Interaction
      .card-body
        %ul
          %li
            Classic JavaScript
            %ul
              %li Understanding Scope
              %li Functions
              %li DOM Event Listeners
          %li
            jQuery
            %ul
              %li DOM Manipulation
              %li Event Handling
              %li Event Bubbling and Propogation
              %li Integrating with JSON APIs
              %li Charts and Graphs
              %li Accepting Credit Cards
          %li
            ES2015 (ES6) and ES7
            %ul
              %li Classes vs Objects
              %li Callbacks
              %li Arrow Functions
              %li Understanding Babel
              %li
                Understanding
                %code this
.row
  .col-xs-12
    %p
      This workshop uses my proven
      %em  Learn How To Learn™
      workshop environment.
      You'll gain practical skills so that you will be able to continue
      learning even after the workshop ends.
