.row.mb-5
  .col-sm-12
    %h1.mb-3
      Essentials of React and React Native

      %span.ml-3.align-top.badge-primary.badge June 2018
      %span.ml-3.align-top.badge-primary.badge $900
    %hr

    %p.lead
      %strong
        This workshop is quick-paced, hands-on introduction to
        React and React Native.
        This workshop includes everything you need to know to get a solid
        foundation in the core concepts.


.row
  .col-sm-6
    .card.text-dark.bg-default
      .card-header
        %h4.card-title Day 1: Intro to React
      .card-body
        %ul
          %li Review of ES2015 (ES6) and ES7
          %li A New World: JSX
          %li React Components
          %li Passing Data with Properties
          %li Understanding State
          %li Custom Components
          %li Multi-Component Apps
          %li Rendering Lists
          %li Server-Side Rendering

  .col-sm-6
    .card.text-dark.bg-default
      .card-header
        %h4.card-title  Day 2: React Native
      .card-body
        %ul
          %li Intro to Native Applications
          %li UI Layout and Styling
          %li Native Components
          %li State Management
          %li Local Database Storage
          %li Open Lab

.row.mt-5
  .col-xs-12
    %p
      This workshop uses my proven
      %em  Learn How To Learn™
      workshop environment.
      You'll gain practical skills so that you will be able to continue
      learning even after the workshop ends.
