%h4.pull-right June 2018
.page-header
  %h1
    Essentials of React and React Native


.row
  .col-xs-12
    %p.lead
      %strong
        This workshop is quick-paced, hands-on introduction to
        React and React Native.
        This workshop includes everything you need to know to get a solid
        foundation in the core concepts.


.row
  .col-sm-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Day 3: Intro to React
      #signup.panel-body
        %ul
        %li
          Review of ES2015 (ES6) and ES7
          %ul
            %li Intro to Node
            %li New Scoping Rules
            %li Classes vs Objects
            %li Callbacks
            %li Arrow Functions
            %li Understanding Babel
            %li
              Understanding
              %code this
          %li A New World: JSX
          %li React Components
          %li Passing Data with Properties
          %li Understanding State
          %li Custom Components
          %li Multi-Component Apps
          %li Rendering Lists
          %li Server-Side Rendering

  .col-sm-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Day 4: React Native
      #signup.panel-body
        %li
          React Native
          %ul
            %li Intro to Native Applications
            %li UI Layout and Styling
            %li Native Components
            %li State Management
            %li Local Database Storage
        %li Open Lab

.row
  .col-xs-12
    %p.lead
      %strong
      This workshop uses my proven
      %em  Learn How To Learn™
      workshop environment.
      You'll not only gain practical skills, you will be ready, confident, and inspired to continue learning
      after the workshop ends.
