.row
  .col-sm-6.col-offset-3

    %h1 Hack your way past this login form.

    %p.small
      Do not email me to ask for a hint, nor any clarifications.
      %br
      And if you're not sure whether or not you've solved it, then you haven't.


    / Hello future student!
    /
    / Here's the secret username and password:
    /
    /  Username: stan
    /  Password: mikita

    = bootstrap_form_tag url: '#', method: :get, id: 'hack-form' do |f|
      = f.text_field :username, autofocus: true
      = f.password_field :password
      = f.submit "Let Me In", id: 'hack-form', class: 'btn btn-primary'
