.row
  .col-xs-7

    %h1 Hello!
    %p
      I am an independent consultant and entrepreneur, active in the education,
      healthcare, and retail industries.

    %p
      I write code in many languages,
      currently focusing on Ruby, Python, and Elixir.

    %p
      I hold an appointment as Adjunct Assistant Professor in the Masters Program in Computer Science
      at the University of Chicago.  I teach courses in web development and
      applied software engineering.

    %p
      I am also honored to be an Adjunct Lecturer in Innovation and Entrepreneurship at
      Northwestern University's Kellogg School of Management, teaching technical courses
      to management students to enhance their entrepreneurial endeavors and and business acumen.

    %p
      I am co-author of
      %em Ruby on Rails for .NET Developers (Pragmatic Press, 2008),
      write occasional articles for
      %em
        = link_to "PragPub Magazine", 'https://pragprog.com/magazines'
      and speak at technical conferences throughout the year.
  .col-xs-4.col-xs-offset-1
    .pull-right
      = image_tag 'me.jpg', width: '300px', class: 'img-circle'
