%h1 Consulting

.row
  .col-md-8
    %p
      Contact me
      = link_to "on Twitter", 'https://twitter.com/jeffcohen'
      or drop me
      = mail_to "cohen.jeff@gmail.com", "an email."

.row
  .col-md-10
    %h3
      Application Development
      %span.label.pull-right.label-default Weekly or Monthly

    %p
      Need a hand with your app? Got an idea for a new one?
      I can help with coding, architecture, databases, security,
      tools and processes, and deployment.
      %br
      %em
        Rails, Ruby, Python,
        MySQL, PostgreSQL, scripting, and more.

    %h3
      Coaching
      %span.label.pull-right.label-default Daily or Weekly

    %p
      I mentor teams as they build new features,
      design a new architecture, or tackle difficult problems.
      I specialize in helping developers find the right process,
      investigate thorny problems, and learn new things.


    %h3
      Payment Systems
      %span.label.pull-right.label-default As Needed

    %p
      Need to take credit cards on your existing site?  Want to start selling
      items online?  Need to integrate with partners and vendors?
      I can help you understand your choices and assist
      with implementation if you choose.
