%h1 Consulting

.row
  .col-md-10
    %h3.border-top.mt-5.pt-2
      Application Development
      %span.badge.float-right.badge-info Weekly or Monthly

    %p
      Need a hand with your app? Got an idea for a new one?
      I can help with coding, architecture, databases, security,
      tools and processes, and deployment.
      %br
      %em
        Rails, Ruby, Python,
        MySQL, PostgreSQL, scripting, and more.

    %h3.border-top.mt-5.pt-2
      Coaching
      %span.badge.float-right.badge-info Daily or Weekly

    %p
      %span.badge.float-right.badge-primary Week: $3500
      %span.badge.float-right.badge-success Half-day: $900

    %p
      I mentor teams as they build new features,
      design a new architecture, or tackle difficult problems.
      I specialize in helping developers find the right process,
      investigate thorny problems, and learn new things.


    %h3.border-top.mt-5.pt-2
      Ruby on Rails Security Review
      %span.badge.float-right.badge-info As Needed
    %p
      %span.badge.float-right.badge-success $250

    %p
      The #1 concern this year is internet security.  If you're not following
      best practices your business could be at immediate risk.  I'll perform a thorough
      review our your code and provide an independent, objective, expert opinion,
      along with recommendations on how to resolve any vulnerabilities.

      The review takes about half a day, and generally costs $250 per Rails application.

    %h3.border-top.mt-5.pt-2
      Payment Systems
      %span.badge.float-right.badge-info As Needed
    %p
      %span.badge.float-right.badge-success $175/hr

    %p
      Need to take credit cards on your existing site?  Want to start selling
      items online?  Need to integrate with partners and vendors?
      I can help you understand your choices and assist
      with implementation if you choose.  I am experienced with
      #{link_to "Stripe", 'https://www.stripe.com'},
      #{link_to "PayPal", 'https://www.paypal.com'}, and
      #{link_to "Braintree", 'https://www.braintreepayments.com/'}.
