.row
  .col-md-12
    .pull-right.img-responsive= image_tag 'me.jpg', width: '150px', class: 'img-circle'
    %h1 I teach, build, and write.


    %p.tag
      %strong 20+ years of building and managing software projects.


    %p
      I build software as a freelance engineer, and I teach
      graduate-level
      courses in computer science, web development,
      software project management, and web services.


    -# .row.top-margin
    -#   .col-sm-5
    -#     %p.logos= image_tag 'nu.png', class: 'img-responsive'
    -#   .col-sm-6
    -#     %p.logos= image_tag 'uchicago.gif', class: 'img-responsive'





    %p
      %small
        %em
          I would like everyone to study the movie Apollo 13 as a classic case study in human-computer interdependency.
          I am also fascinated by the process of improvisation in music, the way language shapes the way that we think, and the awesomeness of the Oxford comma.
