.pull-right.img-responsive= image_tag 'me.jpg', width: '200px', class: 'img-circle'
.row
  .col-md-8
    %h1 I teach, build, and write.


    %p.tag
      %strong 20+ years of building and managing software projects.

    %p
      I teach graduate-level courses at the
      = link_to 'University of Chicago', 'http://csmasters.uchicago.edu/'
      and
      = link_to 'Northwestern University', 'http://kellogg.northwestern.edu/'

      covering computer science, web development,
      relational databases, software project management, and web services.



    %p I build software as a freelance engineer.  Every year, I choose to work on a variety of different projects and industries, so that my teaching is always current and well-informed.

    %hr

    %p
      %small
        %em
          I would like everyone to study the movie Apollo 13 as a classic case study in human-computer interdependency.
          I am also fascinated by the process of improvisation in music, the way language shapes the way that we think, and the awesomeness of the Oxford comma.
