%h1
  Public Workshops

.row
  .col-md-12
    %p
      Coming Summer of 2018:
    %ul
      %li= link_to "Essentials of Front-End Development", workshop_path(id: 'front-end')
      %li= link_to "Essentials of React and React Native", workshop_path(id: 'react')
%hr

%h1
  Corporate Training


.row
  .col-md-12
    %p
      Employees are an investment.  Maximize your return on that investment
      with targeted, efficient training.
      Your cost is based on course content, not the number of attendees - so squeeze as many people
      in the room as you'd like!  Your cost is also
      independent of your location, because all travel expenses are on me (USA and UK).
