%p.pull-right
  Contact me
  = link_to "on Twitter", 'https://twitter.com/jeffcohen'
  or drop me
  = mail_to "cohen.jeff@gmail.com", "an email."

%h1
  Corporate Training

.row
  .col-md-12

.row
  .col-md-12
    %p Are your developers ready to take the next step?

    %h3
      Tailor-Made For Your Team

    %p
      Employing developers is an investment.  Maximize your return on that investment
      with targeted, efficient training.

    %p
      As an experienced teacher and corporate trainer, I specialize in
      empowering teams.  Topics are typically
      centered around coding skills, agile development,
      systems architecture, and design pattern recognition.




    %p Sample Topics
    %ul.lead
      %li Computer Science essentials
      %li Ruby on Rails conversion from .NET/Java
      %li Ruby on Rails advanced training
      %li Intro to Web Development with HTML5 and CSS3
      %li Essentials of Javascript Development (jQuery, ES6, and React)
      %li Becoming an agile team
      %li Test-Driven Development
      %li Object-Oriented Design
      %li Open Source Machinery (git / continous integration / server deployment)
      %li Functional Programming with Elixir




    %h3 Cost
    %p
      Your cost is
      based on course content, not the number of attendees - so squeeze as many people
      in the room as you'd like!  Your cost is also
      independent of your location, because all travel expenses are on me (USA and UK).

= render 'layouts/client_logos'
