%h1
  Independent Study


.row
  .col-md-8
    %h3 $275/week
    %p
      Contact me
      = link_to "on Twitter", 'https://twitter.com/jeffcohen'
      or drop me
      = mail_to "cohen.jeff@gmail.com", "an email."

.row
  .col-md-12
    %h3
      From Beginner to Developer
      -# %span.label.float-right.label-info $99/Week

    %p
      Ready to become an entry-level developer?  Avoid the bootcamps and save a lot of
      money with weekly, professional, personalized instruction.

    %p
      This is also a great path for those wanting to achieve a production-ready
      web application, prepare for a bootcamp, or get into an accredited CS program.

    %ul.lead
      %li Weekly tutoring
      %li One hour of in-person tutoring (Chicago area) or remote (planet Earth only)
      %li Start when you want, end when you want
      %li
        Build a real app: your idea, or become an apprentice
        on one of my real-world projects.
      %li
        Can be geared for Rails mastery, computer science
        preparation, VC pitch prototype, etc.
      %li Customized assignments and training
