%h1
  Independent Study


.row
  .col-md-8
    %h3 $99/week
    %p
      Contact me
      = link_to "on Twitter", 'https://twitter.com/jeffcohen'
      or drop me
      = mail_to "cohen.jeff@gmail.com", "an email."

.row
  .col-md-12
    %h3
      From Beginner to Developer
      -# %span.label.pull-right.label-info $99/Week

    %p
      Ready to become an entry-level developer?  Get individual attention
      and a fun, challenging personalized training program.

    %p
      Great for achieving your own production-ready
      web applications, apply for a bootcamp, or prepare
      for a CS program.

    %ul.lead
      %li Weekly tutoring
      %li One hour of in-person tutoring (Chicago area) or remote (planet Earth only)
      %li Start when you want, end when you want
      %li
        Build a real app: your idea, or become an apprentice
        on one of my real-world projects.
      %li
        Can be geared for Rails mastery, computer science
        preparation, VC pitch prototype, etc.
      %li Customized assignments and training
