.page-header
  %h1
    Intro to Website Development

    %small.pull-right Friday, Sept. 16 and Friday, Sept. 23

.row
  .col-xs-12
    %p.lead
      This interactive, two-day workshop is geared for non-programmers who want to learn the essentials
      of building web applications.

    %p.lead
      Perfect for beginners, this practical workshop introduces
      the core elements of building web sites and web applications. You will build a website from scratch,
      learning the essentials of HTML and CSS programming languages. Hands-on experience with the
      Bootstrap framework helps everyone build a site with that polished,
      professional look.  In short, you'll get a real taste of the hard challenges and wonderful rewards of web development.

    %p.lead
      This workshop uses my proven
      %em  Learn How To Learn™
      workshop environment.
      You'll not only gain practical skills, you will be ready, confident, and inspired to continue learning
      after the workshop ends.

.row
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Day 1: The Essentials
      .panel-body
        %ul
          %li
            Web Coding with HTML 5
            %ul
              %li Elements, Attributes, and Content
              %li Block vs Inline Elements
              %li Semantic Markup
              %li All About the DOM

          %li Using Chrome's DevTools
          %li
            Visual Design with CSS 3
            %ul
              %li Spatial Layout: The Box Model
              %li Colors and Fonts
              %li The Power of Classifications

          %li The Bootstrap CSS Framework

  .col-xs-6
    .panel.panel-primary
      .panel-heading
        -# %h2.panel-title Sign Up!
        %h2.panel-title Day 2: The Fun Stuff
      #signup.panel-body
        %ul
          %li Easy Layouts with the Bootstrap Grid
          %li Mobile Websites
          %li Web Fonts
          %li GitHub is for Sharing Code
          %li Visitor Tracking
          %li Signup Forms
          %li Graphics, Charts, and Graphs
          %li "Mashups" and 3rd-Party Integration
          %li Publishing to a Live URL
          %li Web Developer Secrets
          %li Fun Surprises


        -# %p
          -# %em This workshop is not a public workshop. Prior registration is required.

        -# = bootstrap_form_tag url: precheck_payments_path, remote: true do |f|
        -#   = f.email_field :email, autofocus: true, placeholder: 'email@example.org', label: 'Enter the email address you used during registration.'

        -#
        -#
        -# #payment
        -#
        -# %p.text-danger#error


.row
  .col-xs-11
    .media
      .media-left
        = image_tag 'me.jpg', class: 'pull-left img-rounded', width: '100px'
      .media-body
        %h4.media-heading About the Instructor
        %p
          Jeffrey Cohen has been a professional software developer for 22 years. He currently holds Lecturer appointments at
          Northwestern's Kellogg School of Management, and also at the Masters Program in Computer Science
          at the University of Chicago.  He's a contributor to the Ruby on Rails framework and speaks at technical conferences
          throughout the year.  He's also a fanatic of the Apollo space program, and his favorite comic
          strip is
          %em Calvin & Hobbes.
