<% if @attendee %>
  $("#error").html("");
  $("#payment").html("<%= j(render 'stripe_form') %>");
  $("#payment_stripe").data('email', <%= j @attendee.email %>);
  
  // $("#paypal-btn").on("click", function() {
  //   $(this).prop("disabled",true);
  //   alert("Howdy");
  //   $.ajax({
  //     url: #{paypal_payments_path(id: @attendee.id)},
  //     success: function() {
  //       $("#signup").html("<p class='lead'>Thank you! You should receive a PayPal Money Request via email shortly.</p>");
  //     }
  //   });
  // });

<% else %>
  $("#error").html("<span class='text-danger'>We don't recognize that email address.  Please use the email address you used during preregistration, or contact your organizer.</span>")
<% end %>
