.blog {
    p { 
        color: #222;
        
        strong { 
            color: #111;
        }
    }
    h1 { 
        text-align: center; 
        border-bottom: solid 2px #CCC;
        padding-bottom: 2em;
    }
}