- client_logos.each_slice(4) do |logos|
  .row.d-sm-block.top-margin
    - logos.each do |logo|
      -# .col-xs-3
      = image_tag logo, class: 'img-fluid logo'

- client_logos.each_slice(2) do |logos|
  .row.d-block.d-sm-none
    - logos.each do |logo|
      -# .col-xs-3
      = image_tag logo, class: 'img-fluid logo'
